    header,
    main,
    footer {
        padding-left: 300px;
    }
    
    @media only screen and (max-width: 992px) {
        header,
        main,
        footer {
            padding-left: 0;
        }
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
    main {
        flex: 1 0 auto;
    }
    
    .active {
        background-color: #145ea8 !important;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #145ea8;
        "

    }