@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700); 

body {
	font-family: 'Raleway'; 
	padding-top: 70px;
	text-align: center;
} 
.bg-primary {
  color: #fff;
  background-color: #1589A9;
}

.img-circle-size{
	width: 300px; 
	height: 300px;
} 

.color-text{
	color: white;
} 

.primary-text{
		font-size: 5em;
		margin:0;
}

body {
  min-height: 2000px;
  padding-top: 70px;
} 

.section-color{
	background-color: #FFF;
} 

.icon-programer{
	color : white ; 
	font-size: 6em;  
}  

.icon-text{
	color: white ; 
	text-align: center;
} 


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: white;
}  

.modal-more {
	display: inline; 
	padding-right: 10px;
}