<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>{{ site.title }}</strong> <br> {{ site.description }}<br> {{ site.email }}
            </p>
            <p>
                <a style="color: #145ea8;" class="icon" href="https://www.linkedin.com/in/jonathan-da-silva-braga-67502511a/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a style="color: #145ea8;" class="icon" href="https://github.com/jonathanbraga" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a style="color: #145ea8;" class="icon" href="https://twitter.com/__Jonathan_" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a style="color: #145ea8;" class="icon" href="https://www.facebook.com/jonathan.braga3" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a style="color: #145ea8;" class="icon" href="{{ " /feed.xml " | prepend: site.baseurl }}" target="_blank">
                    <i class="fa fa-rss"></i>
                </a>
            </p>
        </div>
    </div>
</footer>