<footer class="page-footer" style="background-color:#145ea8">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">{{ site.title }}</h5>
                <p class="grey-text text-lighten-4">{{ site.description }}</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {{ site.email }}
            <a class="grey-text text-lighten-4 right">{{ site.title }}</a>
        </div>
    </div>
</footer>