<nav style="background-color: #145ea8">
    <a href="/" class="brand-logo center">{{ site.title }}</a>
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background" style="margin-bottom: -70px;">
                    <img src="http://www.freevectors.net/files/large/BlueTechBackgroundVector.jpg">
                </div>
                <img class="circle center" src="https://scontent.fnat2-1.fna.fbcdn.net/v/t1.0-9/12688069_10205734599748135_6682674674498734086_n.jpg?oh=654e0b705b17483a5c1d0d93f53e1bef&oe=592E1D9E">
                <li>
                    <a style="color: #f6f6f6; cursor: text;"> </a>
                </li>
                <li>
                    <a href="#!" style="color: #f6f6f6; cursor: text; font-size: 20px; margin-top: -40px">{{ site.title }} </a>
                </li>
            </div>
        </li>
        <li style="margin-top: 30px;">
            <a class="subheader">
                <h6>Categories</h6>
            </a>
        </li>

        {% for tag in site.categories %}
        <li><a class="waves-effect" href="{{ tag.url | categories.baseurl }}" id="{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
        {% endfor %}
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
</nav>