<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="../logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>

        <div class="navbar-burger burger" data-target="navMenuDocumentation">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenuDocumentation" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item " href="/">Home</a>
            <a class="navbar-item is-actuve" href="/archives/">Archives</a>
            <a class="navbar-item " href="/categories/">Categories</a>
            <a class="navbar-item " href="/about/">About</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a id="twitter" class="button" target="_blank" href="https://twitter.com/__Jonathan_" style="border-color: #1da1f2;">
                            <span class="icon" style="color: #1da1f2;">
                                    <i class="fa fa-twitter" style="color: #1da1f2;"></i>
                                </span>
                            <span style="color: #1da1f2;">Tweet</span>
                        </a>
                    </p>
                    <p class="control">
                        <a id="twitter" class="button" target="_blank" href="https://github.com/jonathanbraga">
                            <span class="icon">
                                    <i class="fa fa-github" ></i>
                                </span>
                            <span>Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>