<!DOCTYPE html>
<html>

{% include head.html %}

<body class="layout-default">
    <div class="container">
        {% include nav.html %}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Archives</h1>
                    <hr>
                    <div>
                        {% for post in site.posts %} {% assign currentDate = post.date | date: "%B %Y" %} {% if currentDate != myDate %} {% unless forloop.first %}{% endunless %}
                        <br>
                        <h3 class="title is-3">{{ currentDate }}</h3> <br> {% assign myDate = currentDate %} {% endif %}
                        <h5 class="subtitle is-5"><a style="color: #145ea8;" href=" {{ post.url }} "><span>• {{ post.date | date: "%B %-d, %Y " }}</span> - {{ post.title }}</a></h5>
                        {% if forloop.last %}</ul>{% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any nav burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(function($el) {
                    $el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</body>

</html>