<!DOCTYPE html>
<html>

{% include head.html %}

<body style="background-color: #f6f6f6">
    {% include google.html %} {% include Nav.html %}
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 left">
                    <ul class="collection with-header" style="margin-top: 40px;">
                        <li class="collection-header" style="background-color: #f6f6f6">
                            <h4>Simplify</h4>
                        </li>
                        {% for post in site.categories.simplify %}
                        <li class="collection-item" style="background-color: #f9f9f9"><a href=" {{ post.url }} "><span>{{ post.date | date: "%B %-d, %Y " }}</span> - {{ post.title }}</a></li>
                        {% endfor %}
                    </ul>

                    <ul class="collection with-header" style="margin-top: 40px;">
                        <li class="collection-header" style="background-color: #f6f6f6">
                            <h4>Components</h4>
                        </li>
                        {% for post in site.categories.components %}
                        <li class="collection-item" style="background-color: #f9f9f9"><a href=" {{ post.url }} "><span>{{ post.date | date: "%B %-d, %Y " }}</span> - {{ post.title }}</a></li>
                        {% endfor %}
                    </ul>

                    <ul class="collection with-header" style="margin-top: 40px;">
                        <li class="collection-header" style="background-color: #f6f6f6">
                            <h4>Projects</h4>
                        </li>
                        {% for post in site.categories.projects %}
                        <li class="collection-item" style="background-color: #f9f9f9"><a href=" {{ post.url }} "><span>{{ post.date | date: "%B %-d, %Y " }}</span> - {{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--{% if page.url != "/404.html " %}
            <p class="rss-subscribe ">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }} ">via RSS</a></p>
            {% endif %}-->
        </div>
    </main>

    {% include footer.html %}

    <script id="dsq-count-scr " src="//jonathanbraga.disqus.com/count.js " async></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js "></script>
    <script>
        $(function() {
            $(".button-collapse ").sideNav();
        });
    </script>
</body>

</html>