<!DOCTYPE html>
<html>

{% include head.html %}

<body style="background-color: #f6f6f6">
    {% include google.html %} {% include Nav.html %}

    <main>
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
    </main>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//jonathanbraga.disqus.com/count.js" async></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</body>

</html>