<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include google.html %} {% include navpost.html %}
    <link rel="stylesheet" href="{{ " /css/navpost.css " | prepend: site.baseurl }}">


    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p class="left"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
                        <div class="section scrollspy">
                            <h1 class="header center">{{page.title}}</h1>
                        </div>
                        <div class="section scrollspy">
                            <p class="center">
                                {{ content }}
                            </p>
                        </div>
                        {% include disqus.html %}
                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}

    <script id="dsq-count-scr" src="//jonathanbraga.disqus.com/count.js" async></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</body>